
body {
background-image: url('/photo/weatherphoto.jpg');
background-repeat: no-repeat;
 background-size: 1300px 900px ;
}
.header {
  font-family: fantasy;
  font-size: 50px;
  font-style: oblique;
  text-align: center;
  color: darkslategray;
  background-image:url('/photo/sunphoto.png'), url('/photo/temphoto.png');
  background-position: right , left;
  background-repeat: no-repeat, no-repeat;
 background-size: 130px 100px, 130px 100px; 
}
.mid {
  text-align: center;
  padding-bottom:
  20px;
 
}
button{
   line-height: 30px; 
   border-radius: 30px;
   width: 13%;
   font-size: 15px;
   font-style: oblique;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategray;
}
input{
  line-height: 30px;
    border-radius: 30px;
    width: 20%;
  font-size: 20px;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: darkslategray;
}
.Weather {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  padding-top: 100px;
 line-height: 34px;
}
h3 {
  color: maroon;
font-size: 30px;

}
h1 {
  font-size: 30px;
}
h2{
  font-size: 20px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 20px;
}